<ion-content class="background" padding>
    <div class="combat-container" *ngIf="monster">
        <div class="header-container">
            <div class="difficulty">
                <p>Difficulty</p>
                <ul>
                    <li *ngFor="let i of difficulty(combat.monster.Difficulty)">
                        <img src="assets/icons/skull.png" width="30" height="30">
                    </li>
                </ul>

            </div>
            <div class="header-info">
                <img src="assets/icons/fight.png" width="80" height="80" *ngIf="combatState === 0">
                <div class="combat-info" *ngIf="combatState != 0">
                    <span id="playerbar" class="healthbar-container">{{combat.maxTime}} / {{combat.MAXTIME}}</span>
                    <h4>{{combat.monster.Title.monsterTitleText}} {{combat.monster.Name.monsterNameText}}</h4>
                    <span id="monsterbar" class="healthbar-container">{{combat.monster.Health}} /
                        {{combat.monster.MaxHealth}}</span>
                </div>
            </div>
            <div class="weakness">
                <p>Weakness</p>
                <img src="assets/icons/fire.png" width="30" height="30">
            </div>
        </div>
        <div class="ar-container">
            <!-- <ar-frame>

            </ar-frame> -->

            <!-- <span class="monsterHealth">{{combat.monster.Health}} / {{combat.monster.MaxHealth}}</span> -->

            <div class="monster-container">
                <img src="{{combat.monster.Model.monsterModelPath}}" class="monsterImage">

                <!-- <span class="combat-splash">POW!</span> -->

            </div>
            <div class="button-container" *ngIf="combat.inCombat">
                <button ion-button class="btnDamageMonster" (click)="damageMonster()">
                    Monster {{combat.monster.Health}}
                </button>
                <button ion-button class="btnForfeit" (click)="forfeit()">
                    Forfeit
                </button>
                <button ion-button class="btnDamagePlayer" (click)="damagePlayer()" disabled>
                    Player {{combat.player.Health}}
                </button>
            </div>



        </div>
        <div class="footer-container">

            <div class="combat-ranged-container" *ngIf="combatState === 2">
                <img src="assets/icons/bow-straight.png" id="img-ranged-bow" width="100" height="100">
            </div>

            <div class="info-container">
                <h1>{{infoHead}}</h1>
                <p>{{infoParagraph}}</p>
            </div>

            <div (click)="combat.selectCombatStyle($event)" class="combat-style-container" *ngIf="combat.combatState === 0">
                <img src="assets/icons/sword.png" id="img-sword" width="80" height="80">
                <img src="assets/icons/bow.png" id="img-bow" width="80" height="80">
                <img src="assets/icons/wand.png" id="img-wand" width="80" height="80">
            </div>

            <div (click)="combat.interactFooter($event)" class="combat-melee-container" *ngIf="combat.combatState === 1">
                <img src="assets/icons/sword-slash.png" id="img-sword-slash" width="100" height="100">
            </div>

            <div (click)="combat.interactFooter($event)" class="combat-magic-container" *ngIf="combat.combatState === 3">
                <img src="assets/icons/speak-clean.png" id="img-magic-speak" width="100" height="100">
                <img src="assets/icons/wand.png" id="img-magic-wand" width="100" height="100">
            </div>

            <div (click)="combat.retry()" class="retry-container" *ngIf="combat.combatState == 4 || combat.combatState === 5">
                <img src="assets/icons/retry.png" id="img-retry" width="80" height="80">
                <p>Retry</p>
            </div>

        </div>
    </div>
    <span class="screen-splash"></span>
</ion-content>