page-combat {

}


.header-container {
    display: flex;
    justify-content: space-between;
    height: 400px;

    .difficulty {
        ul {
            list-style: none;
            padding-inline-start: 0px;
        }
    }
    .header-info {
        margin-top: 15px;
    }
    .weakness {
        img {
            float: right;
        }
    }
}

.ar-container {
    position: fixed;
    height: 50%;
    width: 100%;
    border: 3px solid red;
    left: 0;
    top: 20%;
}

.footer-container {
    position: fixed;
    padding: 0;
    width: 90%;
    bottom: 0;

    
    .info-container {
        text-align: center;
    }
    .combat-style-container {
        display: flex;
        justify-content: space-between;
        padding: 24px;
    }
    #img-bow {

    }
}
